body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('photo1.jpg');
    background-size: cover;
    color: white;
}

#footer {
    position: fixed;
    bottom: 10px;
}
