body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    margin: 0;
    padding: 0;
    background-image: url('photo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #ffffff; /* Цвет текста */
    text-align: center; /* Центрируем текст по центру экрана */
    font-size: 24px; /* Размер шрифта */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer {
    position: fixed;
    bottom: 10px;
}
